table{
   
    border: 2px solid #A40808;
    background-color: #EEE7DB;
    width: 40%;
    text-align: center;
    border-collapse: collapse;
   
}

th{
    text-align: left;
}

caption{
    text-align: center;
    font-size: 30px;
    font-weight: 200;
    padding-bottom: 20px;
}

th, td{
    border: 1px solid #AAAAAA;
     padding: 3px 2px;
     padding: 7px;
}


th {
    font-size: 19px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #A40808;
  }



th{
    background: #A40808;
   
}
tr:nth-child(even) {
    background: #F5C8BF;
  }

th:first-child {
  border-left: none;
}